@import 'src/styles/main.scss';

.container {
    display: flex;

    &__sidebar {
        width: 26%;
        overflow: auto;
    }

    &__main {
        flex: 1;
        overflow: auto;
        color: black;

        &-content {
            position: fixed;
            top: 10%;
        }
    }
}
